:root {
  --page-1-color: steelblue;
  --page-2-color: tan;
  --page-3-color: teal;
  --page-4-color: slateblue;
  --animate-speed: 3s;
}

body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
#page-1 {
  background: var(--page-1-color);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 0 4rem;
}

.page h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin: 1rem;
  color: #ffffff;
}

.page p {
  font-size: 1.2rem;
  color: #ffffff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  background: #f4f4f4;
  padding: 1rem 2rem;
  border-radius: 2.5px;
  color: #333333;
  margin-top: 1rem;
  font-size: 1rem;
}

#page-2 {
  background: var(--page-2-color);
  color: #ffffff;
}

.btn-dark {
  color: #f4f4f4;
  background: #333333;
}

#page-3 {
  background: var(--page-3-color);
}

#page-4 {
  background: var(--page-4-color);
}